<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whgc.mapper.PaymentMapper">
  <resultMap id="BaseResultMap" type="com.whgc.pojo.Payment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="payMan" jdbcType="VARCHAR" property="payMan" />
    <result column="getMan" jdbcType="VARCHAR" property="getMan" />
    <result column="payNum" jdbcType="VARCHAR" property="payNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, payMan, getMan, payNum
  </sql>
  <select id="selectByExample" parameterType="com.whgc.pojo.PaymentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from payment_
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.whgc.pojo.Payment" useGeneratedKeys="true">
    insert into payment_ (pid, payMan, getMan, 
      payNum)
    values (#{pid,jdbcType=INTEGER}, #{payMan,jdbcType=VARCHAR}, #{getMan,jdbcType=VARCHAR}, 
      #{payNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.whgc.pojo.Payment" useGeneratedKeys="true">
    insert into payment_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="payMan != null">
        payMan,
      </if>
      <if test="getMan != null">
        getMan,
      </if>
      <if test="payNum != null">
        payNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="payMan != null">
        #{payMan,jdbcType=VARCHAR},
      </if>
      <if test="getMan != null">
        #{getMan,jdbcType=VARCHAR},
      </if>
      <if test="payNum != null">
        #{payNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whgc.pojo.Payment">
    update payment_
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="payMan != null">
        payMan = #{payMan,jdbcType=VARCHAR},
      </if>
      <if test="getMan != null">
        getMan = #{getMan,jdbcType=VARCHAR},
      </if>
      <if test="payNum != null">
        payNum = #{payNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whgc.pojo.Payment">
    update payment_
    set pid = #{pid,jdbcType=INTEGER},
      payMan = #{payMan,jdbcType=VARCHAR},
      getMan = #{getMan,jdbcType=VARCHAR},
      payNum = #{payNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>